.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.centerimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.centertext {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.centertext2 {
    display: block;
    text-align: center;
}